<div class="flex flex-col h-dvh bg-red-100 ">
    <div class="bg-rose-600 p-2 flex justify-between fixed w-dvw">
            <button routerLink="/rutinas" class="bg-indigo-500 rounded-2xl px-3 py-2 text-amber-200">VOLVER</button>
            <button routerLink="/tus-entrenamientos" class="bg-indigo-500 rounded-2xl px-3 py-2 text-amber-200">GUARDAR</button>
    </div>

    <div class="bg-red-100 p-2 flex-1 flex flex-col items-center gap-6 mt-20">

        <div class="wrapper wrapper--experiencia border flex flex-col ">
            <p class="text-center">Puntos de experienca</p>
            <div class="container--level">
                <div class="marco"><p>LV 19</p></div>
            </div>
            <div class="experiencia--bar border">
                <div class="experiencia--bar__progres"></div>
                <div class="experiencia--bar__gainned"></div>
            </div>
        </div>

        <div class="wrapper wrapper--info border flex gap-2">
            <p class="border">Series + Volumen</p>
            <p class="border">Duracion</p>
            <p class="border">Esfuerzo</p>
        </div>
        <div class="wrapper border">
            <div class="flex gap-2 border">
                <p>Amigos</p>
                <p>Global</p>
            </div>
            <div>
                <p># 53 Ramon Dino</p>
                <p># 54 Jose</p>
                <p># 55 CBUM</p>
            </div>
        </div>
        <div class=" wrapper border">
            <div>Titulo</div>
            <div>Descripcion</div>
            <div>Fecha</div>
            <div>Foto</div>
            <div>Visibilidad</div>
        </div>
        


            

    </div>

</div>