<div class="container--wrapper p-2">
    <div class="border w-[90dvw] flex justify-around">
        <div>Ajustes</div>
        <p>Nombre de usuario</p>
    </div>

    <div class="container--orbes border">
        <div class="orbe orbe--rojo">LV 19</div>
        <div class="orbe orbe--verde">LV 7</div>
        <div class="orbe orbe--azul">LV 2</div>
    </div>
    <div class="container--stats border w-[90dvw] flex justify-around">
        <div>
            <p>medidas</p>
        </div>
        <div>
            <p>Ejercicios Personalizados</p>
        </div>
    </div>
    <div class="container--historial border w-[90dvw] flex flex-col">

            <div class="historial--wrapper">
                <div class="flex border">
                    <div class="text-center w-[50%] border">Nombre</div>
                    <div class="text-center border w-[50%]">Fecha</div>
                </div>
                <div class="border p-3">

                        <div class="border">
                            Contenido acordeon
                        </div>


                </div>
            </div>


    </div>
</div>
