<div class="text-white flex flex-col justify-evenly items-center min-h-screen w-full py-8">
    <div class="">
        SPARTANAPP
    </div>
    <div class="container--portada w-[70dvw] h-[25dvh] rounded-xl"
        [ngStyle]="{'background-image': 'url('+ imgFotoPortada + ')'}">
        
    </div>

    
    <div class="w-[70dvw]">
        <div class="flex justify-around border">
            <div routerLink="login"
                class="border w-full text-center p-2">
                    Login
            </div>
            <div routerLink="register"
                class="border w-full text-center p-2">
                    Registro
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>


    <div>
        <button class="bg-red-900 px-2 py-4 rounded-2xl">Entrar a la agoge sin credenciales</button>
    </div>

</div>
