<div class="container--wrapper">
    <div class="button--wrapper">
        <div class="button--container">
            <button >Generarr entrenamientos</button>
        </div>
    </div>


    <div class="slider">
        <div class="caja bg-amber-300">
            <div>Titulo</div>
            <div class="caja--grid">
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
            </div>
            <button routerLink="/rutinas" class="bg-black rounded-2xl py-2">Empezar</button>
        </div>
        <div class="caja bg-red-400"></div>
        <div class="caja bg-blue-400"></div>
    </div>

    


    <div class="mt-12">...</div>
</div>