<div class="container--wrapper">



    <div class="slider mt-3">
        <div class="caja">
            <div>Pecho</div>
            <div class="caja--grid">
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
            </div>
            <button routerLink="/rutinas" class=" rounded-2xl py-2">Empezar</button>
        </div>
        <div class="caja">
            <div>Espalda</div>
            <div class="caja--grid">
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
            </div>
            <button routerLink="/rutinas" class=" rounded-2xl py-2">Empezar</button>
        </div>
        <div class="caja ">
            <div>Pierna</div>
            <div class="caja--grid">
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
                <div class="item--ejercicio"></div>
            </div>
            <button routerLink="/rutinas" class="rounded-2xl py-2">Empezar</button>
        </div>
    </div>

    


    <div class="mt-12">...</div>
</div>