<div class="container--wrapper">
    <div class="button--wrapper">
        <div class="button--container">
            <button>Generar entrenamientos</button>
        </div>
        <div class="button--container">
            <button>Crear Rutina</button>
        </div>
    </div>

    <div class="entrenamiento--container">
        <p>Día de espalda</p>
    </div>
    <div class="entrenamiento--container">
        <p>Día de brazo</p>
    </div>

    <div class="button--wrapper">
        <div class="button--container">
            <button>Entrenamiento vacío</button>
        </div>
    </div>
</div>