
.container--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.button--wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: 50%;
    margin: 10px 0 10px 0;
    gap: 15px;
}

.button--container {
    background-color: #fa0b1b;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    transition: 0.1s;
}

.button--container:active {
    transform: scale(1.1);
}

.slider--wrapper {
    border: 1px solid white;
}
.slider {
    aspect-ratio: 1 / 1;
    width: 90dvw;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    border: 1px solid black; 
}

.caja {
    min-width: 100%;
    
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border: 1px solid black;
    
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.caja--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item--ejercicio {
    width: 100px;
    height: 100px;
    background-color: #1C1C1C;
    margin: 2px;
}



