<div class="min-h-screen p-6 text-zinc-100">

    <div class="border-l-4 border-red-800 pl-4 mb-8">
        <h1 class="text-3xl font-bold mb-6 uppercase tracking-widest text-center">Rutinas Espartanas</h1>

        <p class="text-zinc-500 text-sm tracking-widest">
            Elige tu batalla guerrero
        </p>
    </div>

    <!-- Estado: cargando -->
    @if (rutinasSpartana.isLoading()) {
        <p class="text-zinc-400">
            Preparando el campo de batalla...
        </p>
    }

    @if (rutinasSpartana.error()) {
        <p class="text-red-400">
            Error al cargar las rutinas
        </p>
    }

    <!-- Estado: datos cargados -->
    @if (rutinasSpartana.value()) {
        <div class="grid grid-cols-1 gap-4">
            @for (rutina of rutinasSpartana.value(); track rutina.id) {
                <app-rutina-card 
                    [rutinaEnviada]="rutina"
                    [seleccionada]="rutinaSeleccionada()?.id === rutina.id"
                    (rutinaSeleccionadas)="seleccionar($event)"
                />
            } @empty {
                <p class="text-zinc-500">
                    No hay rutinas espartanas
                </p>
            }
        </div>
    }

    @if (rutinaSeleccionada()) {
        <div class="caja">
            <div class="flex justify-between items-start mb-4">
                <div >
                    <h2>{{rutinaSeleccionada()!.nombre}}</h2>
                    <p>{{rutinaSeleccionada()!.ejercicios?.length}} ejercicios</p>
                </div>
                    <button 
                        (click)="deseleccionar()">
                        X
                    </button>
            </div>
            <button class="w-full bg-red-900 font-bold uppercase tracking-widest py-2">
                    Comenzar batalla
            </button>
        </div>
    }

</div>