<div class="min-h-screen p-6 text-zinc-100">

    <button routerLink="/entrenamientos"
          class="text-zinc-400 mb-6 flex items-center gap-2 text-sm">
    ← Volver
    </button>

    <div class="border-l-4 border-red-800 pl-4 mb-8">
        <h1 class="text-3xl font-bold mb-6 uppercase tracking-widest text-center">Rutinas Espartanas</h1>

        <p class="text-zinc-500 text-sm tracking-widest">
            Elige tu batalla guerrero
        </p>
    </div>

    <!-- Estado: cargando -->
    @if (rutinasSpartana.isLoading()) {
        <p class="text-zinc-400">
            Preparando el campo de batalla...
        </p>
    }

    @if (rutinasSpartana.error()) {
        <p class="text-red-400">
            Error al cargar las rutinas
        </p>
    }

    <!-- Estado: datos cargados -->
    @if (rutinasSpartana.value()) {
        <div class="grid grid-cols-1 gap-8">
            @for (rutina of rutinasSpartana.value(); track rutina.id) {
                <app-rutina-card 
                    [rutinaEnviada]="rutina"
                    (rutinaSeleccionadas)="seleccionar($event)"
                />
            } @empty {
                <p class="text-zinc-500">
                    No hay rutinas espartanas
                </p>
            }
        </div>
    }


</div>