.layout {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.main {
    background: linear-gradient(65deg, rgb(186, 32, 32), rgb(142, 22, 22), rgb(177, 72, 7));
    color: white;
    flex:1;
}



