<div class="rutina--wrapper p-8 bg-red-100 flex flex-col gap-6">

    <div class="border-2 border-red-500 flex flex-col p-6 gap-6">
        <p>CALENTAMIENTO</p>
        <div class="flex justify-between">
            <p>Jumpink jacks</p>
            <img src="" alt="imagen Jumpink">
        </div>
        <button class="bg-red-400 px-2 py-2 rounded-2xl active:scale-110 active:text-white transition-all duration-200">+ CALENTAMIENTO</button>
    </div>

    <div class="border-2 border-amber-500 flex flex-col p-6 gap-6">
        <p>ENTRENAMIENTO</p>
        <button class="bg-amber-500 px-2 py-2 rounded-2xl">+ ENTREANAMIENTO</button>
    </div>

    <div class="border-2 border-blue-500 flex flex-col p-6 gap-6">
        <p>ENFRIAMIENTO</p>
        <button class="bg-blue-500 px-2 py-2 rounded-2xl">+ ENFRIAMIENTO</button>
    </div>

</div>
