.entrenamientos--wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.entrenamiento--container {
    background-size: cover;
    background-position: center;
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #CE8946;
    position: relative;
    z-index: 10;
}

.entrenamiento--container a {
    position: relative;
    z-index: 2;
    text-transform: uppercase;

    font-size: 1.5em;
    text-align: center;
}

.entrenamiento--container::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}