
<div class="w-full flex flex-col items-center justify-center text-l p-4">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


        <div>
            <label for="email">
                <p>Email</p>
                <input class="bg-amber-400 rounded-xl text-zinc-800 px-2 py-1 mb-2" 
                       type="email" formControlName="email" id="email">
            </label>
            <div class="h-12 mt-2">
                @if (validadorMensajesError('email')) {
                    <p class="bg-red-950 border border-red-800 text-red-400 rounded-xl p-2 text-sm animate-fadeIn">
                    {{ validadorMensajesError('email') }}
                    </p>
                }
                </div>


            <label for="password">
                <p>Contraseña</p>
                <input class="bg-amber-400 rounded-xl text-zinc-800 px-2 py-1 mb-2" 
                       type="password" formControlName="password" id="password">
            </label>
            <div class="h-12 mt-2">
                @if (validadorMensajesError('password')) {
                    <p class="bg-red-950 border border-red-800 text-red-400 rounded-xl p-2 text-sm animate-fadeIn">
                    {{ validadorMensajesError('password') }}
                    </p>
                }
            </div>  
        </div>

        <br>
        <div class="text-center mt-2">
            @if (mensajeError()) {
                <p class="bg-red-950 border border-red-800 text-red-400 rounded-xl p-2 text-sm animate-fadeIn">
                    {{ this.mensajeError() }}
                </p>
            }
            <button type="submit" class="bg-red-900 px-2 py-2 rounded-2xl">Iniciar Sesión</button>
            
        </div>

    </form>
</div>